/* '''''''''''''''''''''''''''''''''''''''' */

/* MAIN DEFAULT STYLES */

/* '''''''''''''''''''''''''''''''''''''''' */

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-pic {
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 3rem;
  padding: 0;
  text-align: center;
  font-size: 3rem;
}

.hidden {
  display: none !important;
}
